<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All products</title>
</head>

<body>
    <h1> <%= category %> products</h1>
    <ul>
        <% for(product of products) { %>
            <li>
                <a href="/products/<%= product.id %> "><%= product.name  %></a>
            </li>
            <% } %>
    </ul>
    <a href="/products/new">Create a new product</a>
    <a href="/products"><%= category=='All'?'':'Back to products page' %></a>
    
</body>

</html>